---
import Layout from "@layouts/Layout.astro";
import type { BlogPostFrontmatter } from "src/type";
import PostsList from "@components/PostsList.astro";

let posts = await Astro.glob<BlogPostFrontmatter>("./*.md");
---

<Layout title="Blog Post">
  <h1 class="mb-8 text-6xl px-4 py-8">Blog Post</h1>

  <div class="px-4 py-8">
    <PostsList posts={posts} />
  </div>
</Layout>
