---
import { formatDate } from "@utils";
import type { MarkdownInstance } from "astro";
import type { BlogPostFrontmatter } from "src/type";

interface Props {
  posts: Post[];
}
let { posts } = Astro.props;
type Post = MarkdownInstance<BlogPostFrontmatter>;
posts = posts.sort((a: Post, b: Post): number => {
  if (a.frontmatter.date > b.frontmatter.date) {
    return -1;
  }
  if (b.frontmatter.date > a.frontmatter.date) {
    return 1;
  }
  return 0;
});
---

{
  posts.map((post) => (
    <div class=" py-4 border-b first:border-t">
      {post.frontmatter.draft && (
        <p class="px-3 text-white bg-red-700 inline-block text-lg  rounded-lg">
          Borrador
        </p>
      )}
      <a class=" text-sky-700 hover:underline" href={post.url}>
        {post.frontmatter.title}
      </a>
      <p>{formatDate(post.frontmatter.date)}</p>
    </div>
  ))
}
